h1,
h2,
h3 {
    font-family: "Amatic SC";
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #ffa626, #4c5401);
    color: white;
    margin: 0;
}

.navbar {
    background-color: #4c5401;
}

.dropdown-menu {
    background-color: #ffa626;
}

.site-footer {
    background-image: linear-gradient(#f8c37a, #7b8337);
    padding: 20px 0;
}

html {
    overflow-x: hidden;
}

.modal-header {
    background-color: #ffa626;
}

.card-header-green {
    background-color: #4c5401;
}

.card-header-yellow {
    background-color: #ffa626;
}

#tabMeet .card {
    border-color: #4c5401;
}

.card-highlight:hover {
    border-color: #ffa626;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.carousel-inner,
.carousel-item {
    background-color: darkslategrey;
    background-position: center;
    height: 100%;
    width: 100%;
}

.carousel-caption:first-of-type {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-link:hover {
    text-decoration: underline;
}

.carousel-image {
    width: 100%;
    height: auto;
}

.page-enter {
    opacity: 0;
}

.page-enter-active {
    opacity: 1;
    transition: 300ms ease-in;
}

.page-exit {
    opacity: 1;
}

.page-exit-active {
    opacity: 0;
    transition: 300ms ease-out;
}
